html, body {
  margin: 0;
  padding: 0;
  font-size: 62.5% ;
}
canvas {
  display: block;
}

body {
  font-family: 'Open Sans', sans-serif;  color: #000000;
  overflow: hidden;
}


/* Text Styling */

.text--italic{
  font-style:  italic; 
  font-weight:700;
}

/* Header */
.header {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background:#030d1c;
}

.header__msg {
  
  padding: 1rem 1rem;
  font-weight: 700;
  font-size: x-large;
  color: white;
}

/* Buttons */
.btn {
  font-family: inherit;
  border: 0;
  padding: 1.5rem 2rem;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  color: #000000;


}

.btn--basic{
  background-color: #ffffff;
  border: 1px solid black;

}

.btn--danger {
  background-color: #ffffff;
  border: 1px solid #e72c2c;
  color: #e72c2c;
}



.btn--transparent{
  background-color: transparent;
}
/* 
.btn--pin{
  background-image: url(redNavFull.png);
} */

#add-a-Pin{
  color:white;
}

.btn--basic:hover{
  cursor:pointer;
  background-color: #9b9a9a;
  /* color:#ffffff; */
}

.btn--danger:hover {
  cursor: pointer;
  background-color: #fcb1b1;
}


#add-a-Pin:hover{
  text-decoration-line: underline;
}
/* Modal */

.hidden {
  display: none;
}


.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 65%;
  overflow-y: scroll;
  background-color: #E2F0F0;
  opacity: 0.8; 
  padding: 2rem;
  border-radius: 45px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}


.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 3rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}



/* Insturctions Modal */
.instructions_title{
  font-weight: 700;
  font-size: 2.7rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
}
.instructions_text{
  font-weight:500;
  font-size:2.8rem;
  font-style: italic;
  padding:10rem 0rem 0rem 8rem;
}

/* Location Modal */

.locationModal{
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 35%;
  height: 40%;
  overflow-y: scroll;
  background-color: #E2F0F0;
  opacity: 0.8; 
  padding: 2rem;
  border-radius: 45px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;


}

.locationModal__group{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.locationModal__loc-coordinates{
  font-size:1.7rem;
  padding-left:1rem;
}

.locationModal__label {
  font-weight: 600;
  font-size: 1.65rem;
  font-style: italic;
  margin-bottom: 0.75rem;
}

.locationModal__loc-name{
  font-size: 1.8rem;
  font-weight: 600;
  font-style:italic;
  margin-left: 2rem;
  margin-top: 3rem;
  margin-right: 8rem;
  margin-bottom: 0.75rem;
}
.locationModal__description{
  font-weight:400;
  font-size: 1.45rem;
  margin-top:1rem;
  padding-left:2rem;
}

/* Form */
.form__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form__btn-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form__btn-group button {
  margin-right: 3rem;
}

.form__create:hover {
  opacity: 0.7;
  cursor: pointer;
}

.form_title{
  font-weight: 700;
  font-size: 2.7rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
}
.form label {
  font-weight: 600;
  font-size: 1.65rem;
  font-style: italic;
  margin-bottom: 0.75rem;
  margin-right:0.65rem;
}

.form input,
.form select,
.form textarea {
  font-family: inherit;
  background-color: #ffffff;
  border-radius: 3px;
  padding: 0.35rem 0.8rem;
}

.form__loc-name {
  margin-left: 11rem;
  margin-top: 5rem;
  margin-right: 8rem;
}

.form__loc-coordinates{
  font-size:1.7rem;
  padding-left:1rem;
}

.form__unmapped{
  background-color: #ed51518a;
  margin-left:1rem;

}

.form select {
  width: 40%;
}

.form input {
  width: 41.5%;
}

.form textarea {
  padding: 2rem 0.5rem;
}


.form__control {
  border: 2px solid #e6e6e7;
  outline: 0;
  transition: border 0.15s, box-shadow 0.15s;
  margin-bottom: 2rem;
  min-width: 20rem;
}

.form__control:focus {
  border: 1px solid #86b7fe;
  box-shadow: 0 0 0 5px #b9d3fa;
}

.form__top-row {
  display: flex;
  justify-content: flex-start;
  padding: 1rem 13rem;
}
.form__description {
  padding: 0rem 6rem;
  margin: 0 5rem;
}


/* blurry overlay */

